* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif !important;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fffdd0 !important;
  color: #333;
}

hr {
  color: darkslategrey;
  border-style: inset;
  border-width: 1px;
  margin: 0.5em auto;
  width: 90%;
}

p{
  margin-left:2rem !important;
  word-break: break-all;
  font-size:1.3rem;
}

.userbadge{
 background-color:  #F4A460;
}

.main-wrapper{
  margin-left: 280px;
  padding: 0 1rem;
  width:1000px;
} 


.comments-section{
  width:800px;
}

.leaflet-container {
  width: 100%;
  max-width: 800px;
  border: 2px solid black;
}

.animal-tracker-map {
  height: 30rem;
}

.post-map {
  height: 15rem;
}
/* Forms */

.post-form .post-form-header {
  background: #17a2b8;
  padding: 0.5rem;
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius:5px;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.displayed-text{
  word-break: break-all;
}

.postpage{
  display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:10px;
    background-color:#e0ddaf;
}

.postpage-assets{
  display:flex;
  justify-content: space-evenly;
  width: 100%;
  background-color:#f2efbc;
  border-radius:10px;
  padding:0.5rem;

 
}
.postpage-img{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.postpage-img img{
  height:100%;
  width: 400px;

}

.postpage-footer{
  width: 100%;
}

.postpage-map{
  height:20rem;
  width:20rem;
}

.comments-header{
   background-color:darkslategrey;
  padding:0.2rem 1rem;
  border-radius:5px;
}

.comment-heading{
  display:flex;
}

.comment-heading p{
  margin: 0.2rem !important;
}

.comments-header > h3{
  color:whitesmoke;
}

.comment-text{
  font-size:1.1rem;
  background-color: lightgrey;

}

.comment-date{
  font-size:0.8rem;
  background-color: whitesmoke;

}
/* end of Forms */

a:hover {
  color: lightgrey;
  text-decoration: none !important;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.tab-content {
  display: flex;
  justify-content: center;
}

.map-containement {
  position: relative;
  display: flex;
  flex-direction: column;
}

.map-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-center {
  background-color: lightgrey !important;
  border: 2px solid black !important;
}

/* Utilities */
.landing{
  background-color:#fff2d1 !important;
}

.container-class{
  word-break:break-all;
}

.container-class p{
  margin:0 !important;
}
.navbar-brand{
  color: #E0C879!important;
  font-size:1.4rem !important;
}

.navbar {
  background-color:#3E885B !important;
  margin-bottom: 1rem;
  height: 100%;
  width: 280px;
  border-right:black 1px solid;
  box-shadow: 1px 1px 5px black;
  -webkit-box-shadow: 1px 1px 5px black;
  -moz-box-shadow: 1px 1px 5px black;
  -o-box-shadow: 1px 1px 5px black;

  font-size: 1.3rem !important;
  font-weight: 700 !important;

  text-align: center;


}

.navbar-collapse{
  flex-flow: column !important;
}

.navbar-nav{
  flex-direction: column !important;
}

.navbar-expand-lg{
  flex-flow: column nowrap !important;
}

.nav-link{
  color: sandybrown !important;

}

.auth-links{
  justify-content: space-evenly;
  flex-direction: row !important;

}

.auth-button-form{
  border-radius: 5px; 
    color: green!important;
    padding: 1rem 2rem !important;
    font-size: 1.2rem !important;
    width: 100%;
    border: none !important;
    background-color: sandybrown !important;
}

.auth-button-form:hover{
  opacity:0.85;
}


.auth-button{
    border-radius: 5px;
    color: sandybrown !important;
    padding:0.1rem 0.5rem !important;
    margin: 0.1rem 0.4rem;
}

.auth-button:hover{
  opacity:0.8;
}

.spacer-div {
  height: 4.5em;
}

.inner-container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.post {
  grid-template-columns: 1fr;
  border:1px solid black !important;
  border-radius: 5px;
}
/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.profile-btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.3rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-bottom-right-radius: 10px;
  margin: 0;
}

.delete-button {
  background-color: red !important;
  border: 1px solid black !important;
}

.card-title{
  font-size:1.5rem !important;
}

.card-post-layout {
  display: grid;
  grid-template-areas:
    'post-img post-info post-info post-report'
    'post-img post-info post-info post-report'
    'post-by post-share post-discuss post-edits';

  margin-top: 0.8rem;
  margin-bottom: 0.8rem;

  border: 1px solid darkgreen;

  box-shadow:0px 2px 1px rgb(1, 77, 1) ;
  -moz-box-shadow:0px 2px 1px rgb(1, 77, 1) ;
  -webkit-box-shadow:0px 2px 1px rgb(1, 77, 1) ;
  -o-box-shadow:0px 2px 1px rgb(1, 77, 1) ;

  grid-auto-columns: 2fr 2fr 2fr 2fr;
  grid-auto-rows: 2fr 2fr 50px;
  padding: 0.2em 0.5em;

  border-radius: 10px;
  background-color: #e2d18c;
}

.card-body{
  word-break: break-all;
}

.post-discuss {
  grid-area: post-discuss;
  display: flex;
}

.post-urgency{
  font-size: 2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-status{
  font-size: 1.5rem;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-urgency p{
  margin-left:0 !important;
  border-radius:10px;
  animation-name: tag-animate;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
}



.comments-btn {
  /* background-color: lightseagreen; */
  padding: 0.4rem 0.9rem;
  /* border: 2px solid dimgrey; */
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: black;
  cursor: pointer;
  font-size: 25px;
}

.card-post-by {
  grid-area: post-by;
  display: flex;
  flex-grow: 0;
  margin-left: 0.7em;
}
.post-by {
  grid-area: post-by;
  display: flex;
  flex-direction: row;
}

.post-by i{
  margin-top: 5px;
  padding: 0 0.1rem;
}

.post-report {
  grid-area:post-report;
  display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.post-modifications {
  grid-area: post-edits;
  display: grid;
  grid-template-areas: 'edit-btn delete-btn';
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
}

.post-share {
  grid-area: post-share;
  display: flex;
  grid-template-areas: 'whatsapp twitter instagram filler';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: row;
}

.whatsapp {
  grid-area: whatsapp;
  margin: auto;
  margin-top: 7px;
}

.whatsapp-color{
  color: #00bb00;
}

.post-information {
  grid-area: post-info;
  margin-left: 0.7em;
}

.posts-buttons{
  border: 1px solid green;
    background-color: #2B5840;
    color: white;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor:pointer;
}

.posts-right{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.posts-left{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.post-image {
  padding: 0.2em;
  /* border: 3px dashed lightseagreen; */
  grid-area: post-img;
  display: flex;
  justify-content: center;
  align-items: center;
  height:160px;
  border-radius:50%;
}

.post-image > img, .post-image button{
  border-radius:50%;
  font-size:1.2rem;
  font-weight:700;
  height: 160px;
    width: 160px;
}

.round-img{
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.button {
  padding: 0.2em 0.3em;
  border: 1px solid black;
  
  box-shadow: 0px 2px black;
  -moz-box-shadow: 0px 2px black;
  -webkit-box-shadow: 0px 2px black;
  -o-box-shadow: 0px 2px black;


  margin: 0em 0.1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-radius: 10px;
}

.page-button {
  padding: 0.2rem 0.9rem;
  color: darkslategray;
  background-color: lightgrey;
  font-size: large;
}

.page-display {
  text-align: center;
}

.delete-btn {
  grid-area: delete-btn;
  /* background-color: red; */
  border:none !important;
  box-shadow:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
  -o-box-shadow:none !important;
  font-size: 2rem;
  color: #b22222;
}

.edit-btn {
  grid-area: edit-btn;
  /* background-color: lightblue; */
  border:none !important;
  box-shadow:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
  -o-box-shadow:none !important;
  font-size: 2rem;
}

.post-edit-button {
  grid-area: edit-btn;
}

.post-image-disabled {
  background-color: #6b6d6e;
  color: white;
  opacity: 0.65;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.stretch {
  width: 100%;
  height: 100%;
}

.read-more-button {
  color: rgb(48, 48, 228);
  cursor: pointer;
}

.missing {
  visibility: hidden;
}

.read-more-button:hover {
  color: rgb(110, 110, 253);
}

.upload-input {
  display: none;
}

.locality-selector {
  background-color: #3E885B!important;
  width: 50% !important;
  color: #E0C879!important;
  margin: 0 auto !important;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: orange;
  border: 1px solid black;
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}

.animate-alert {
  overflow: hidden;
  animation-name: slideout;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}

.remove-padding {
  padding: 0 !important;
}

.animate-danger{
  overflow:hidden;
  animation-name:danger;
  animation-duration:1.3s;
  animation-iteration-count:infinite;
}


.animate-medium{
  overflow:hidden;
  animation-name:medium;
  animation-duration:1.3s;
  animation-iteration-count:infinite;
}


.animate-low{
  overflow:hidden;
  animation-name:low;
  animation-duration:1.3s;
  animation-iteration-count:infinite;
}

@keyframes tag-animate{
  0%{
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
  }

  50%{
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    -o-transform:scale(1.1,1.1);
  }

  100%{
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
  }
}

@keyframes danger {
  0% {
    color:darkred;
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
  }

  50%{
    color:red;
    transform:scale(-1.3,1.3);
    -webkit-transform:scale(-1.3,1.3);
    -moz-transform:scale(-1.3,1.3);
    -o-transform:scale(-1.3,1.3);
  }

  100%{
    color:darkred;
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
  }
}

@keyframes medium {
  0% {
    color:yellow;
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
  }

  50%{
    color:orange;
    transform:scale(-1.3,1.3);
    -webkit-transform:scale(-1.3,1.3);
    -moz-transform:scale(-1.3,1.3);
    -o-transform:scale(-1.3,1.3);
  }

  100%{
    color:yellow;
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
  }
}


@keyframes low {
  0% {
    color:green;
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
  }

  50%{
    color:darkgreen;
    transform:scale(-1.3,1.3);
    -webkit-transform:scale(-1.3,1.3);
    -moz-transform:scale(-1.3,1.3);
    -o-transform:scale(-1.3,1.3);
  }

  100%{
    color:green;
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
  }
}


@keyframes slideout {
  100% {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    height: 0px !important;
  }
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: #f4f4f4;
  text-align: center;
}

/* Navbar */

.navbar a:hover {
  color: #3cfa68;
}

.active{
  color:darkorange !important;
  box-shadow:0px 2px 4px orange;
  -webkit-box-shadow:0px 2px 4px orange;
  -o-box-shadow:0px 2px 4px orange;
  -moz-box-shadow:0px 2px 4px orange;
  
  border-radius:10px;
}


.bg-main{
  background-color: #489164;
}

.bg-submain{
  background-color: #56a073;
}

.bg-ternary{
  background-color: #68aa81;
}

.bg-sandybrown{
  background-color: sandybrown;
}

/* Profiles Page */
.animalpage-profile{
  display:grid;
  grid-template-areas:'profile-top profile-top'
                      'profile-bio profile-bio'
                      'profile-medical profile-medical';
  padding: 0.7rem;
}

.animalprofile-top {
  grid-area: profile-top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.animalprofile-top img {
  width: 250px;
  height:250px;
}

.animalprofile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.animalprofile-top .icons a:hover {
  color: orange;
}

.animalprofile-about {
  grid-area: profile-bio;
  text-align: center;
}

.animalprofile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.animalprofile-medical{
  grid-area:profile-medical;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.animalprofile-vaccinations{
  display: flex;
    flex-direction: column;
    width: 100%;
}

.animalprofile-spayinformation{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.animalprofile-miscinformation{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.animalprofile-vaccine{
  margin:0 !important;
}

.animalprofile-vaccineinfo{
  margin:0 !important;
}

.add-button{
  background-color:lightgreen;
}

.profile-buttons{
  margin: 0.9rem 0.2rem;
  color:black ;
  box-shadow: none;;
}



.profile-navigation{
  display:flex;
  justify-content: space-between;
}

/* animal profile end */


.animal-tracker-title{
  background-color: #9DD2B2;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: -22px;
}

.animal-tracker-text{
  text-align: center;
}
.animal-map-profile {
  padding: 0.3rem 0.5rem;
  background-color: #eeeeee;
  border-radius: 10px;
  margin: 0.3rem 0;
}

.animal-map-profile div{
  word-break: break-word;
}

.information-box {
  padding: 1rem;
}

.add-post {
  width: 100%;
  padding: 1.3rem 1.3rem !important;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  background-color: #3e8770 !important;
    color: white !important;
}

.map-information {
  width:80%;
  border: 2px solid black;
  border-radius: 5px;
}

.animal-list-button{
  background-color:#4fad73 !important;
}

.animal-list-pagedisplay{
  background-color:#65B885 ;
}

.animal-list-body{
  background-color: #81C59B;
}

.animal-map-profile {
  display: grid;
  grid-template-areas:
    'image head type '
    'image info btn '
    'image identity btn ';

  grid-auto-rows: min-content;
  grid-auto-columns: 1fr 3fr 1fr;
}

.profile-full {
  /* grid-area: profile; */
  grid-column-start: 1;
  grid-column-end: -1;

  border: 1px solid gold;
}

.profile-close {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  background-color: orange;
  cursor: pointer;
  text-align: center;
  padding-top: 0.5em;
  flex-basis: 50%;
}

.position-fixed {
  position: sticky;
  width: 100%;
  z-index: 1001;
}

.profile-close > i {
  font-size: large;
}

.profile-fullinfo {
  /* position: relative; */
  display: flex;
  flex-flow: wrap;
  margin-top: 0.3rem;
  /* flex-flow: column-wrap; */
}

.table {
  position: relative;
  display: table;
  /* border: 1px solid black; */
  /* float: left; */
  margin: 0.5em 0.3em;
}

.table .td,
.table .th {
  display: table-cell;
  /* position: relative; */
  /* float: left; */
  border-radius: 7px;
  border: 1px solid black;
  text-align: center;
  vertical-align: top;
  word-break: break-all;
  min-width: 6em;
}

.table .tr {
  display: table-row;
  width: auto;
  clear: both;
}

.table .th {
  column-span: all;
}

.spay-table {
  width: 50% !important;
}

.profile-name {
  grid-area: head;
  border: 1px solid orange;
}

.profile-type {
  grid-area: type;

  display: flex;
  flex-direction: row;
  border: 1px solid gold;
}

.profile-type-div {
  display: inline-block;
  width: 50%;
}

.profile-image {
  grid-area: image;
  border: 1px solid orangered;
  width: inherit;
  height: inherit;
  overflow:hidden;
}
.profile-information {
  grid-area: info;
  border: 1px solid purple;
}

.profile-button {
  grid-area: btn;
}

.profile-identity {
  grid-area: identity;
  border: 1px solid grey;
}

.large-icon {
  font-size: 2rem;
}

/* Post styles for Home */

/* Mobile Styles */
@media (max-width: 992px) {

  .postpage-assets{
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin-top: 2rem;
    padding:0;
  }

  .map-containment > nav {
    align-items: center;
  }

  .map-contents > .map-information {
    width: 100%;
  }

  .map-contents {
    align-items: center;
    flex-direction: column;
  }
  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */

  .petrescue-logo{
    color: sandybrown !important;
  }

  .navbar{
    width:100%;
    flex-direction:row;
    height:auto;
  }

  .navbar-expand-lg{
    flex-flow: wrap !important;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  .auth-button{
    width:80%;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
    border:1px solid black !important;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }

  .main-wrapper{
    margin-left:0;
    width:auto;
    padding:0;
  }

  .comments-section{
    width:auto;
  }
  /* .post-image{
    height:auto;
  } */

  .animal-tracker-title{
    margin:0;
  }
  
}

@media (max-width: 576px) {
   .post-image img,.post-image button{
    height:80px;
    width:80px;
  }

  .post-status{
    font-size:1rem;
  }

  .information-box{
    padding:0
  }

  .inner-container{
    padding: 0 0.2rem;
  }

  .table {
    font-size: 90%;
  }

  .animal-map-profile {
    grid-auto-columns: 80px 1fr 80px;
    grid-auto-rows: 80px 50px 50px 1fr;
    grid-template-areas:
        'image head type '
        'image info btn '
        'identity identity btn ';
    margin-bottom: 0.7rem;
  }

  .information-box .card-body{
    padding:0;
  }

  .modal-body {
    padding: 0.2rem !important;
  }

  .card-post-layout {
    display: grid;
    grid-template-areas:
        'post-img post-info post-info post-info'
        'post-report post-info post-info post-info'
        'post-by post-share post-discuss post-edits';
    box-shadow: 0px 1px 1px rgb(1, 77, 1);
    -moz-box-shadow: 0px 1px 1px rgb(1, 77, 1);
    -o-box-shadow: 0px 1px 1px rgb(1, 77, 1);
    -webkit-box-shadow: 0px 1px 1px rgb(1, 77, 1);
    grid-auto-columns: 80px 1fr 1fr 100px;
    grid-auto-rows: 80px minmax(60px,1fr) 40px;
    border-radius: 10px;
  }

  .comments-btn{
    padding:0.4rem;
  }

  .post-image{
    height:auto;
  }

  .profile-btn{
    word-break: break-word;
    padding:0;
  }

  
.post-image > img, .post-image button{
  font-size:1rem;
}

@media(max-width:321px){

  .card-post-layout{
    grid-auto-columns: 80px 1fr 1.5fr 75px ;
  }

  .post-discuss{
    justify-content: center;
  }

  .comments-btn{
    font-size:1.4rem;
    padding-top: 0.2rem;
  }

  .large-icon{
    font-size:1.5rem !important;
  }

  .edit-btn{
    margin-left:0.6rem;
    font-size:1.3rem;
  }

  .delete-btn{
    font-size:1.3rem;
  }
}
}
